<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmibuttomnav">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GetFit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BmiButtomNav">
        <activity
            android:name=".todoaddtask"
            android:exported="false" />
        <activity
            android:name=".todomain"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".account"
            android:exported="false" />
        <activity
            android:name=".NotificationMessage"
            android:exported="false" />
        <activity
            android:name=".Reminder"
            android:exported="false" />
        <activity
            android:name=".tm"
            android:exported="false" />
        <activity
            android:name=".bmiResult"
            android:exported="false" />
        <activity
            android:name=".bmical"
            android:exported="false" />
        <activity
            android:name=".st"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>